#note--form {
  border: solid black 1px;
  width: 65%;
  text-align: center;
  padding: 2em;
}
#noteList {
  margin: 2em;
  padding: 1em;
  background-color: #fafafa;
  width: 110px;
  height: 110px;
  overflow: auto;
  width: 75%;
}
.criminalsContainer {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
}

.witnessList {
  display: flex;
  flex-flow: row;
}

.associateContainer,
.witnessContainer {
  padding: 2em;
  width: 50%;
  margin: 0;
}

.criminal,
.witness {
  flex-basis: auto;
  min-width: 25%;
  max-width: 25%;
  border: black solid 1px;
  margin: 0.5em;
  padding: 1em;
  background-color: #fafafa;
}

.filters {
  display: flex;
}

.filter {
  margin: 1em;
}
