#note--form {
  border: solid black 1px;
  width: 65%;
  text-align: center;
  padding: 2em;
}
.criminalsContainer {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
}

.criminal {
  flex-basis: auto;
  min-width: 20%;
  border: black solid 1px;
  margin: 1em;
  padding: 1em;
  background-color: #fafafa;
}

.filters {
  display: flex;
}

.filter {
  margin: 1em;
}
